/* .container {
  padding: 1.5rem 5re;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.header{
  /* display: inline; */
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
}

.headerLeft{
  border: 1px solid red;
  display: flex;
  align-items: center;
  width: 50%;
}

.headerRight{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5em;
  width: 50%;
  /* border: 1px solid black; */
  font-weight: 600;
  padding-right: 2em;

}

.containedBtn{
  text-transform: none;
  color: white;
}

.wrapper{
  display: inline;
  border: 1px solid black;
  margin-top: 3em;
}

.navbar{
  margin-left: 3rem;
  font-weight: 600;
}

.links{
  padding-left: 1em;
}

.links:hover{
  color: rgb(72, 72, 72);
  transition: 0.2s ease-in-out;
}

.title{
  display: inline-block;
}

.firstSection{
  background-color: #f4fffd;
  padding-left: 2rem;
  padding-right: 2rem;
}