/* .container {
  padding: 1.5rem 5re;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.header{
  /* display: inline; */
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
}

.headerLeft{
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  width: 50%;
}

.headerRight{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5em;
  width: 50%;
  font-weight: 600;
  padding-right: 2em;

}

.containedBtn{
  text-transform: none;
  color: white;
}


.navbar{
  margin-left: 3rem;
  font-weight: 600;
}

.links{
  padding-left: 1em;
}

.links:hover{
  color: rgb(72, 72, 72);
  transition: 0.2s ease-in-out;
}

.title{
  display: inline-block;
}

.firstSection{
  background-color: rgb(240, 250, 246);
  padding-left: 5rem;
  padding-right: 5rem;
}

.main{
  padding-top: 5rem;
  padding-bottom: 10rem;
  /* display: flex; */
}

.mainLeft{
  /* border: 1px solid red; */
  width: 50%;
  display: inline-block;
  padding-left: 2em;
  /* border: 1px solid red; */
}
.mainRight{
  width: 50%;
  /* border: 1px solid red; */
}

.moto{
  font-size: 50px;
  padding: 0%;
  margin-bottom: 0%;
}
.React{
  color: #3bd4b0;
}

.textInp{
  width: 70%;
  margin-right: 2%;
  background-color: white;
}
.icons{
  margin-left: 0.7em;
  margin-right: 0.2em;
}

.inline{
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 4rem;
}
.mainLeft p{
  font-size: 20px;
  color: #808080;
}

.inline p{
  font-size: 15px;
}


.trusted{
  text-align: center;
}

.trusted p{
  text-align: center;
  color: #808080;
}

.customerLogo{
    filter: grayscale(100);
    transition: 0.2s ease-in-out;

}

.customerLogo:hover{
  filter: grayscale(0);
  transition: 0.3s ease-in-out;
}

.trusted2{
  display: flex;
  align-items: center;
}

.thirdSection{
  background-color: rgb(240, 250, 246);
  padding-top: 4em;
  padding-left: 10em;
  padding-right: 10em;
  padding-bottom: 4em;
  display: flex;

}

.tsLeft{
  width: 50%; 
}

.tsLeft h2{
  font-size: 30px;
}

.primary{
 color: #3bd4b0; 
 font-weight: 700;
}

.tsLeft p{
  color: #808080;
}

.item{
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.item p{
  padding-left: 2%;
}

.tsIcons{
  background-color: #3bd4b0;
  color: white;
  border-radius: 10%;
  padding: 3px;
  width: 1.5em;
  height: 1.2em;
}

.smolHeading{
  color: black;
  font-size: 18px;
  font-weight: 600;
}

.tsRight{
  display: flex;
  /* border: 1px solid red; */
  width: 50%;
  align-items: center;
  justify-content: center;
}

.fourthSection{
  padding-top: 7em;
  padding-bottom: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
}


.fourLeft{
  width: 50%;
}

.fourRight{
  width: 50%;
  /* display: flex; */
}

.nestedFlex{
  display: flex;
  gap: 1%;
}

.fourTest{
  display: flex;
  align-items: center;
}

.fourTest .smolHeading{
  padding-left: 3%;
}
.fourItems .fourItemText{
  color: #808080;
  padding: 0%;
  margin-top: 1%;
}

.fifthItemText{
  padding-left: 5%;
  font-size: 15px;
  color: black;
}

.fifthSection{
  background-color: #d5fff5;
  padding-top: 7em;
  padding-bottom: 2em;
}

.fifthTop{
  text-align: center;

}
.fifthItemText span{
  display: block;
}
.fifthItemText{
  color: #808080;
}

.fifthTop h2{
  font-size: 30px;
  margin-top: 0.5%;;
}

.fifthTop p{
  color: #808080;
  font-size: 18px;
}
.fifthBottom{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5em;
  padding-right: 5em;
  padding-bottom: 5em;
  column-gap: 2%;
  flex-wrap: wrap;
}

.fifthTest{
  display: flex;
  align-items: center;
}

.fifthBottom section{
  border-radius: 10px;
  background-color: white;
  margin-bottom: 2%;
}


.fifthBottom .tsIcons{
  margin: 0%;
  margin-top: 2%;
  margin-left: 3%;
  margin-bottom: 8%;
}

.fifthBottom .fifthHeading{
  padding: 0%;
  margin: 0%;
  font-weight: 600;
  font-size: 20px;
  color: black;
}